.TodoDeleteBackgound{
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    /* display: flex; */
    padding: 1rem;
    width: 520px;
    margin: auto;
  }

  .TodoDeleteCenter{
    text-align: center;
  }
  